html,
body {
    background: #445;
    color: #FFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 100%, transparent), url(https://github.com/tacosontitan/Glitter/blob/main/resources/glittertind.jpg?raw=true);
    background-size: cover, cover;
    background-position: center, center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 5rem;
    font-weight: 400;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    font-weight: 300;
    position: relative;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.5s ease, opacity 1s ease;
    min-width: 250px;
    text-align: center;
}

.is-loading h3 {
    transform: scale(0.9);
    opacity: 0;
}

h3:before,
h3:after {
    height: 2px;
    width: 100%;
    content: "";
    background: white;
    display: block;
    position: absolute;
    transition: width 0.4s ease;
    transition-delay: 0.25s;
}

h3:before {
    top: 0;
    left: 0;
}

h3:after {
    bottom: 0;
    right: 0;
}

.is-loading h3:before,
.is-loading h3:after {
    width: 0;
}

.build-status {
    margin-top: 15px;
    margin-bottom: 15px;
}

.gems {
    margin-top: 15px;
    display: inline-flex;
}

.gems>img {
    margin: 5px;
}